body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.grid {
  width: 400px;
  height: 600px;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url('background.png?v=2');
  background-repeat: repeat-y;
  background-size: 400px auto;
  position: relative;
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
}

.doodler {
  width: 75px;
  height: 73px;
  background-image: url('doodler-guy.png');
  background-size: contain;
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url('platform.png');
  position: absolute;
}
