.logoWrapper {
  position: fixed; /* stay on top */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; /* ensure it's above your start bar */
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logoPulse {
  width: 200px;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0%   { transform: scale(1); opacity: 1; }
  50%  { transform: scale(1.1); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

.bootWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bootWindow {
  background: #111;
  padding: 20px;
  color: #0f0;
  font-family: monospace;
}

.bootLog {
  white-space: pre-line;
}
